.background{
    box-shadow:  0px 4px 4px #EFAC48;;
}

.bt-orange{
    width: 200px;
    height: 40px;


background: #EFAC48;
border-radius: 5px;
}


.orange{
    color: #EFAC48;
   
}
h1{
    font-size: 40px;
    text-shadow: 0px 2px 2px#bcbcbc;
    text-align: center;
}
.cen{
    text-align: center;
}

.mgr{
    margin-left: 5px;
  
}

.test{
    background-color: rgb(132, 206, 132);
}