<h1 class="text-2xl text-center my-5">
   Pending requests
</h1>

<div class="overflow-x-auto relative">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead
        class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
      >
        <tr>
          <th scope="col" class="py-3 px-6">Request id</th>
          <th scope="col" class="py-3 px-6">description</th>
          <th scope="col" class="py-3 px-6">service provider Email</th>
  
          <th scope="col" class="py-3 px-6"></th>
        </tr>
      </thead>
      <tbody>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700" *ngFor="let item of pending">
          <th
            scope="row"
            class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white uppercase"
          >
            {{item.requestid}}
          </th>
          <td class="py-4 px-6 uppercase">{{item.description}}</td>
          <td class="py-4 px-6 uppercase">{{item.psemail}}</td>
          <td class="py-4 px-6 uppercase"><button class="btn " (click)="delete(item.requestid)"> delete</button></td>
        
        </tr>
      </tbody>
    </table>
  </div>