<div class="container-fluid">
  
    <br />
    <div class="row flex justify-around container-fluid">
    
  <a routerLink="./activejobs"  class="block w-72 p-6 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">active jobs</h5>
     </a>
  
    
  
     <a  routerLink="./jobsrequests" class="block w-72 p-9 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
     <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"> job requests</h5>
    </a>
  
    <a routerLink="./completejobs" class="block p-6 w-72 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">done jobs</h5>
     </a>
     <!-- <a routerLink="./masons"class="block p-6 w-72 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Mason</h5>
     </a> -->
    </div>
    <router-outlet></router-outlet>
  </div>