<h1 class="text-2xl text-center my-5">
    list of complete jobs
</h1>

<div class="overflow-x-auto relative">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead
        class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
      >
        <tr>
          <th scope="col" class="py-3 px-6">client email</th>
          <th scope="col" class="py-3 px-6">phone number</th>
          <th scope="col" class="py-3 px-6">description</th>
          <th scope="col" class="py-3 px-6">Request Id</th>
        </tr>
      </thead>
      <tbody>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700" *ngFor="let item of complete; let i = index">
          <th
          scope="row"
          class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white uppercase"
        >
          {{item.useremail}}
        </th>
        <td class="py-4 px-6 uppercase">{{item.phonenumber}}</td>
        <td class="py-4 px-6 uppercase">{{item.description}}</td>

        <td class="py-4 px-6 uppercase">{{item.requestid}}</td>
        
        </tr>
      </tbody>
    </table>
  </div>