<div class="flex justify-center">
    <div class="flex">
        <div class="todo   ">
            <h1 class=" ">tofo</h1>


            <div class="card2  ">
                <div class="task">this wil a be a leaking</div>
                <div class="button">
                    <button class="btn2"> complete</button>
                </div>
            </div>
            <div class="card2 ">
                <div class="task">this wil a be a leaking</div>
                <div class="button">
                    <button class="btn2"> complete</button>
                </div>
            </div>
            <div class="card2 ">
                <div class="task">this wil a be a leaking</div>
                <div class="button">
                    <button class="btn2"> complete</button>
                </div>
            </div>
            <div class="card2 ">
                <div class="task">this wil a be a leaking</div>
                <div class="button">
                    <button class="btn2"> complete</button>
                </div>
            </div>
        </div>



       
        
        <div class="done flex  justify-center  flex-auto ">

               <h1>done</h1>
        </div>
    </div>
</div>

<div class="flex flex-row justify-center">
    <button routerLink="/details" type="submit" class="submit bt-orange btn-block btn-lg">
    
        Get a service
        </button>  
        <button routerLink="/details" type="submit" class="submit bt-orange btn-block btn-lg">
    
            Get a service
            </button>
</div>

