<h1 class="text-2xl text-center my-5">
    list of painters
</h1>

<div class="overflow-x-auto relative">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead
        class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
      >
        <tr>
          <th scope="col" class="py-3 px-6">username</th>
          <th scope="col" class="py-3 px-6">email</th>
          <th scope="col" class="py-3 px-6">city</th>
  
          <th scope="col" class="py-3 px-6"></th>
        </tr>
      </thead>
      <tbody>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700" *ngFor="let item of painters; let i = index">
          <th
            scope="row"
            class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white uppercase"
          >
            {{item.firstname}}
          </th>
          <td class="py-4 px-6 uppercase">{{item.email}}</td>
          <td class="py-4 px-6 uppercase">{{item.city}}</td>
  
          <td class="py-4 px-6">
            <label for="my-modal" class="btn modal-button" (click)="set(i)">view</label>
          
            <input type="checkbox" id="my-modal" class="modal-toggle" />
            <div class="modal">
              <div class="modal-box">
                <h3 class="font-bold text-lg">
                  ezekiel
                </h3>
                <p class="py-4">
                  name: {{painters[ind].firstname}} <br>
                  email: {{painters[ind].email}}  <br>
                  spexialization: {{painters[ind].jobtype}}  <br>
                  city: {{painters[ind].city}}  <br>
                  average rates: {{painters[ind].avgrate}} 
              
                  
                </p>
                <div class="modal-action">
                  <label for="my-modal" class="btn">request</label>
                  <label for="my-modal" class="btn">close</label>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>