<!-- 




    <button class="btn btn-outline" routerLink="/services">Add new Request</button>





<ul
    class="flex flex-wrap text-sm font-medium text-center text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400">
    <li class="mr-2">
        <a routerLink="./active" aria-current="page"
            class="inline-block p-4 text-blue-600 bg-gray-100 rounded-t-lg active dark:bg-gray-800 dark:text-blue-500">Active
            requests</a>
    </li>
    <li class="mr-2">
        <a routerLink="./pending"
            class="inline-block p-4 rounded-t-lg hover:text-gray-600 hover:bg-gray-50 dark:hover:bg-gray-800 dark:hover:text-gray-300">Pending
            requests</a>
    </li>
    <li class="mr-2">
        <a routerLink="./history"
            class="inline-block p-4 rounded-t-lg hover:text-gray-600 hover:bg-gray-50 dark:hover:bg-gray-800 dark:hover:text-gray-300">History</a>
    </li>
</ul>
<router-outlet></router-outlet> -->
<div class="container-fluid">
  
    <br />

    <div class="row flex justify-around container-fluid">
    
  <a routerLink="./active"   class="block w-72 p-6 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Active</h5>
     </a>
  
    
     <a  routerLink="./pending" class="block w-72 p-9 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"> job cast</h5>
       </a>
     <a  routerLink="./pending" class="block w-72 p-9 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
     <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"> Pending</h5>
    </a>
  

    </div>
    <router-outlet></router-outlet>
  </div>
  