<h1 class="text-2xl text-center my-5">
    list of job requests
</h1>

<div class="overflow-x-auto relative">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead
        class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
      >
        <tr>
          <th scope="col" class="py-3 px-6">client email</th>
          <th scope="col" class="py-3 px-6">phone number</th>
          <th scope="col" class="py-3 px-6">description</th>
          <th scope="col" class="py-3 px-6">Request Id</th>
  
          <th scope="col" class="py-3 px-6"></th>
        </tr>
      </thead>
      <tbody>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700" *ngFor="let item of jobRequest; let i = index">
          <th
            scope="row"
            class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white uppercase"
          >
            {{item.useremail}}
          </th>
          <td class="py-4 px-6 uppercase">{{item.phonenumber}}</td>
          <td class="py-4 px-6 uppercase">{{item.description}}</td>

          <td class="py-4 px-6 uppercase">{{item.requestid}}</td>
          <td class="py-4 px-6">
            <label for="my-modal" class="btn modal-button" (click)="set(i)">view</label>
          
            <input type="checkbox" id="my-modal" class="modal-toggle" />
            <div class="modal">
              <div class="modal-box">
                <h3 class="font-bold text-lg">
                  Request ID1: #{{jobRequest[ind].requestid}}
                </h3>
                <p class="py-4">
                  name: {{jobRequest[ind].useremail}}<br>
                  description: {{jobRequest[ind].description}}  <br>
                  phone number: {{jobRequest[ind].phonenumber}}  <br>
                 
              
                  
                </p>
                <div class="modal-action">
                  <label for="my-modal" class="btn" (click)="accept(jobRequest[ind].requestid)">accept</label>
                  <label for="my-modal" class="btn" (click)="reject(jobRequest[ind].requestid)">reject</label>
                  <label for="my-modal" class="btn">close</label>
                </div>
              </div>
            </div>
          </td>
  
        </tr>
      </tbody>
    </table>
  </div>