
<div class="flex justify-center flex-row flex-wrap ">
  <div
    class="flex flex-col bg-white rounded-lg border shadow-md background md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700"
  >
    <div class="">
      <h1>Nyimwelo</h1>
      <img class="card-img" src="../../../assets/2.png" alt="" />
      <div class="flex flex-col justify-between p-4 leading-normal">
        Minor pipe installations <br />
        Cleaning Sewer Lines. <br />
        <br />
        call out fee : R500.00
        <div class="row">
          <button class="col bt-orange">contact details</button>
          <button class="col bt-orange">Request Quote</button>
        </div>
        <div class="row">
          <button class="col bt-orange">contact details</button>
          <button class="col bt-orange">Request Quote</button>
        </div>
      </div>
    </div>
  </div>


  <div
  class="flex flex-col bg-white rounded-lg border shadow-md background md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700"
>
  <div class="">
    <h1>Nyimwelo</h1>
    <img class="card-img" src="../../../assets/2.png" alt="" />
    <div class="flex flex-col justify-between p-4 leading-normal">
      Minor pipe installations <br />
      Cleaning Sewer Lines. <br />
      <br />
      call out fee : R500.00
      <div class="row">
        <button class="col bt-orange">contact details</button>
        <button class="col bt-orange">Request Quote</button>
      </div>
      <div class="row">
        <button class="col bt-orange">contact details</button>
        <button class="col bt-orange">Request Quote</button>
      </div>
    </div>
  </div>
</div>

<div
class="flex flex-col bg-white rounded-lg border shadow-md background md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700"
>
<div class="">
  <h1>Nyimwelo</h1>
  <img class="card-img" src="../../../assets/2.png" alt="" />
  <div class="flex flex-col justify-between p-4 leading-normal">
    Minor pipe installations <br />
    Cleaning Sewer Lines. <br />
    <br />
    call out fee : R500.00
    <div class="row">
      <button class="col bt-orange ">  contact details </button>
      <button class="col bt-orange">Request Quote</button>
    </div>
    <div class="row">
      <button class="col bt-orange">contact details</button>
      <button class="col bt-orange">Request Quote</button>
    </div>
  </div>
</div>
</div>
<div
class="flex flex-col bg-white rounded-lg border shadow-md background md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700"
>
<div class="">
  <h1>Nyimwelo</h1>
  <img class="card-img" src="../../../assets/2.png" alt="" />
  <div class="flex flex-col justify-between p-4 leading-normal">
    Minor pipe installations <br />
    Cleaning Sewer Lines. <br />
    <br />
    call out fee : R500.00
    <div class="row">
      <button class="col bt-orange">contact details</button>
      <button class="col bt-orange">Request Quote</button>
    </div>
    <div class="row">
      <button class="col bt-orange">contact details</button>
      <button class="col bt-orange">Request Quote</button>
    </div>
  </div>
</div>
</div>

</div>

